body {
    background-color: #470000;
    margin: 70px;
    line-height: 2;
}

@font-face {
    font-family: Plaza Regular;
    src: url('fonts/Plaza\ Regular.ttf');
}

@font-face {
    font-family: Splatoon1;
    src: url('fonts/Splatoon1.otf');
}

.heading {
    text-align: center;
    font-size: 75px;
    color: #fe954c;
    font-family: Plaza Regular;
}

.subheading {
    font-size: 37.5px;
    color: #ffea6b;
    font-family: Plaza Regular;
}

.normal-text {
    font-size: 22.5px;
    color: #ff7287;
    font-family: Splatoon1;
}

.video-settings {
    width: 50%;
    height: auto;
}