body {
    background-color: #470000;
    margin: 70px;
    line-height: 2;
}

@font-face {
    font-family: Plaza Regular;
    src: url('fonts/Plaza\ Regular.ttf');
}

@font-face {
    font-family: Splatoon1;
    src: url('fonts/Splatoon1.otf');
}

.heading {
    text-align: center;
    font-size: 75px;
    color: #fe954c;
    font-family: Plaza Regular;
}

.subheading {
    font-size: 37.5px;
    color: #ffea6b;
    font-family: Plaza Regular;
}

.normal-text {
    font-size: 22.5px;
    color: #ff7287;
    font-family: Splatoon1;
}

.trailer-settings {
    flex: 0 0 50%;
}

.trailer-text-setup {
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.trailer-text {
    flex: 1;
}

.trailer-settings video {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid #4abefd;
    border-radius: 4px;
}

.trailer-subheading {
    color: #4abefd;
    font-size: 20px;
    font-family: Splatoon1;
}

.trailer-subheading a {
    color: inherit;
    text-decoration: underline;
    font-family: inherit;
}

.trailer-text .normal-text p {
    margin-top: 0;
    color: #f380ff;
    font-size: 15px;
}

.ITP380-games-setup {
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.ITP380-image-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.game-card {
    text-align: center;
}

.game-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid #4abefd;
    border-radius: 4px;
    display: block;
}

.game-title a {
    display: inline-block;
    margin-top: 10px;
    font-family: "Splatoon1";
    font-size: 20px;
    color: #4abefd;
    text-decoration: underline;
}