body {
    background-color: #470000;
    margin: 1000px;
    line-height: 3;
}

@font-face {
    font-family: Plaza Regular;
    src: url('fonts/Plaza\ Regular.ttf');
}

.heading {
    text-align: center;
    font-size: 50px;
    color: #fe954c;
    font-family: Plaza Regular;
}

.subheading {
    font-size: 25px;
    color: #ffea6b;
    font-family: Plaza Regular;
}

.normal-text {
    font-size: 15px;
    color: #ef697a;
    font-family: Plaza Regular;
}