body {
    background-color: #470000;
    margin: 70px;
    line-height: 2;
}

@font-face {
    font-family: Plaza Regular;
    src: url('fonts/Plaza\ Regular.ttf');
}

@font-face {
    font-family: Splatoon1;
    src: url('fonts/Splatoon1.otf');
}

.heading {
    text-align: center;
    font-size: 75px;
    color: #fe954c;
    font-family: Plaza Regular;
}

.subheading {
    font-size: 37.5px;
    color: #ffea6b;
    font-family: Plaza Regular;
}

.normal-text {
    font-size: 22.5px;
    color: #ff7287;
    font-family: Splatoon1;
}

.video-settings {
    flex: 0 0 50%;
}

.video-text-setup {
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.video-text {
    flex: 1;
}

.video-settings video {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid #4abefd;
    border-radius: 4px;
}

.video-subheading {
    color: #4abefd;
    font-size: 20px;
    font-family: Splatoon1;
}

.video-subheading a {
    color: inherit;
    text-decoration: underline;
    font-family: inherit;
}

.video-text .normal-text p {
    margin-top: 0;
    color: #f380ff;
    font-size: 15px;
}